.section {
    width: 100vw;
    position: relative; 
    align-items: center; /* Vertically center the content */
    justify-content: center;
    padding: 1rem 2rem;
}

.title {
    width: 100%;
    max-width: 1080px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em; 
    margin: 0.1em auto 0.2em auto;
    line-height: 1;
    text-align: center;
    padding: 10px 0;
    color: #222;
}

.container {
    width: 100%;
    max-width: 1080px;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center;
}

.tile {
    width: 200px;
    height: 150px;
    background-color: #f2f2f2;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
    margin: 40px;
    cursor: pointer;
    text-align: center;
  }
  
  .tile:hover {
    background-color: #e0e0e0;
  }