.section {
    background-image: url('/static/background-homepage.jpg'); /* Path to the image relative to the public directory */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    position: relative; 
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center;
    z-index: -1; 
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4.5em; 
    font-weight: bold;
    text-align: center;
    color: rgba(34, 34, 34, 0.8);
    margin-top: 0.1em 0.1em 0.2em 0.1em;
    line-height: 1;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.subtitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em; 
    font-weight: 200;
    text-align: center;
    line-height: 1;
    padding-bottom: 2em;
}

.pretitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em; 
    font-weight: 100;
    text-align: center;
    line-height: 1;
}