.section {
    width: 100%;
    background-color: #f2f2f2;
    position: relative; 
    align-items: center; /* Vertically center the content */
    justify-content: center;
    padding: 1rem;
}

.title {
    width: 100%;
    max-width: 1200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em; 
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    line-height: 1;
    text-align: center;
    padding: 10px;
    color: #222;
}

.subsection {
    width: 100%;
    max-width: 1200px;
    font-weight: normal;
    padding: 10px;
    margin-bottom: 2em;
    font-size: 1.2em;
}

.subsectionTitle {
    text-align: left;
    font-weight: bold;
}

.subsectionSubtitle {
    text-align: left;
}

.subsectionBody {
    text-align: left;
    margin-top: 1em;
}
