.section {
    width: 100vw;
    max-width: 1200px;
    position: relative; 
    align-items: center; /* Vertically center the content */
    justify-content: center;
    padding: 1rem;
}

.title {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em; 
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    line-height: 1;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    color: #222;
}

.subsection {
    width: 100%;
    font-weight: normal;
    width: 100%;
    padding: 10px;
    margin-bottom: 2em;
    font-size: 1.2em;
}

.subsectionTitle {
    text-align: left;
    font-weight: bold;
}

.subsectionSubtitle {
    text-align: left;
}

.subsectionBody {
    text-align: left;
    margin-top: 1em;
}

a {
    text-decoration: none; /* Remove underlines */
    color: inherit; /* Inherit the color from the parent element */
  }
  
  /* Custom link styles */
  a:hover {
    text-decoration: underline; /* Underline on hover */
    color: #007bff; /* Change color on hover */
  }
  
  a:active {
    color: #0056b3; /* Change color when clicked */
  }