.section {
    background-image: url('/bg-home.jpg'); /* Path to the image relative to the public directory */
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 800px;
    position: fixed; /* or position: absolute; */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Position it at the left edge of the viewport */
    z-index: -1; 
}

.content {
    text-align: center;
}
  