.hero-section {
    background-image: url('/bg-home.jpg'); /* Path to the image relative to the public directory */
    background-size: cover;
    background-position: center;
}

.hero-content {
    text-align: center;
}
  