.section {
    background-image: url('/bg-home.jpg'); /* Path to the image relative to the public directory */
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 600px;
    position: fixed; /* or position: absolute; */
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Position it at the left edge of the viewport */
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center;
    z-index: -1; 
}

.content {
    text-align: center;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5em; /* Adjust the font size as needed */
    font-weight: bold;
    line-height: 0;
}

.subtitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em; /* Adjust the font size as needed */
    font-weight: 100;
    line-height: 0.5;
}

.pretitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em; /* Adjust the font size as needed */
    font-weight: 100;
    line-height: 0;
}