.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333; /* Adjust the background color as needed */
  color: white; /* Text color */
}

.footer a {
  text-decoration: none;
  color: inherit;
}