.footer {
  width: 100%;
  justify-content: center;
  padding: 1rem 2rem;
  background-color: #333; /* Adjust the background color as needed */
  color: white; /* Text color */
  margin-top: auto;
  text-align: center;
}

.footer a {
  text-decoration: underline;
  color: inherit;
}

.appColor {
  background-color: #0F1E3D;
}