@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Exo', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;  
  align-items: center;
  min-height: 100vh;
}

section {
  width: 100vw;
  position: relative; 
  align-items: center; /* Vertically center the content */
  justify-content: center;
  padding: 1rem 2rem;
}

.sectionGray {
  background-color: #f2f2f2;
}

.container {
  width: 100%;
  max-width: 1080px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.container800 {
  max-width: 800px;
}

.container960 {
  max-width: 960px;
}

.container11 {
  font-size: 1.1rem;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem; 
  margin: 0.1em auto 0.2em auto;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}

.titleGray {
  color: rgba(34, 34, 34, 0.8);
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.divider {
  width: 100%;
  max-width: 1080px;
  height: 1px; 
  background-color: rgba(0, 0, 0, 0.3); 
  margin: 0 auto 20px auto;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  max-width: 800px;
  width: 100%;
  min-width: auto;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.indent20 {
  padding-left: 20px;
}
