html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.columns {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust spacing between columns */
}

.column {
  flex: 1;
  align-items: center;
  margin: 0 40px; /* Adjust margin between columns */
}

.description {
  margin-top: 4px;
  font-size: 16px;
  text-align: center;
}

.subtitle {
  margin-top: 9px;
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}

.image-centered {
  display: block; /* Ensure the image is treated as a block element */
  margin: 0 auto; /* Set top and bottom margins to 0 and left and right margins to auto */
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}
