html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.divider {
  width: 100%;
  max-width: 1000px;
  height: 1px; 
  background-color: rgba(0, 0, 0, 0.3); 
  margin: 0 auto 15px auto; 
}

a.customlink {
  text-decoration: none; /* Remove underlines */
  color: inherit; /* Inherit the color from the parent element */
}

/* Custom link styles */
a.customlink:hover {
  text-decoration: underline; /* Underline on hover */
  color: #007bff; /* Change color on hover */
}

a.customlink:active {
  text-decoration: none;
  color: #0056b3; /* Change color when clicked */
}
