html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between; /* Adjust spacing between columns */
  position: relative;
}

.column {
  flex: 1;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 40px; /* Adjust margin between columns */
}

.description {
  font-size: 16px;
  text-align: center;
}

.subtitle {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}

.image-centered {
  display: block; /* Ensure the image is treated as a block element */
  margin: 0 auto; /* Set top and bottom margins to 0 and left and right margins to auto */
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  line-height: 1;
}

.button {
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff; /* Blue color, you can change it to your desired color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

.button:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  max-width: 800px;
  width: 100%;
  min-width: auto;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

ul.nav li {
  float: left;
}

ul.nav li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.fullWidthSection {
  width: 100%;
  background-color: #007bff;
  padding: 20px 0;
}