.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.appColor {
  background-color: #0F1E3D;
}

.navItem {
  float: left;
}

.navLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navPipe {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 0;
  text-decoration: none;
}

.navLink:hover:not(.active) {
  background-color: #111;
}

.floatRight {
  float: right;
}