.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .gallery img {
    max-width: 340px;
    max-height: 267px;
    height: auto;
    margin: 10px;
  }

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px; /* Add bottom margin to create space between pagination and footer */
  }
  
  .pagination button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination button:hover {
    background-color: #333;
    color: #fff;
  }
  
  .pagination button.active {
    background-color: #0070f3;
    color: #fff;
    border-color: #0070f3;
  }
  
  .pagination button:focus {
    outline: none;
  }