.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1080px;
    margin: 1rem 2rem;
    font-size: 1.2em;
}

.th, .td {
    padding: 8px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.th {
    text-align: center;
    font-size: 1.5rem;
}

.centered {
    text-align: center;
}

.status {
    text-align: center;
    margin: 5px auto;
    padding: 5px 10px;
    width:20px;
    height: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
}

.planned {
    background-color: #3399FF;
}

.progress {
    background-color: #FFA500;
}

.published {
    background-color: #00CC66;
}

.section {
    width: 100vw;
    position: relative; 
    align-items: center; /* Vertically center the content */
    justify-content: center;
    padding: 1rem 2rem;
    background-color: #f2f2f2;
  }
  
  .title {
    width: 100%;
    max-width: 1080px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em; 
    margin: 0.1em auto 0.2em auto;
    line-height: 1;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
  }
  
  .content {
    width: 100%;
    max-width: 1080px;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    text-align: center;
  }